@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 900px;
    margin: auto;
    height: 30vh;
    
}
header img{
    float: left;
    width: 180px;
    border-radius: 50%;
}
header .intro{
    float: right;
    margin-top: 8vh;
    text-align: center;

}
a{
    font-family: 'Montserrat', sans-serif;
}
header .intro ul{
    font-size: 0.8m;

}
header .intro a{
    text-decoration: none;
    font-weight: 900;
    color: #FF0302;
}
hr {
    width: 900px;
    margin: auto;
}
main{
    width: 900px;
    margin: auto;
    height: 20vh;
    
}
main p{
    margin: 10px;
}

.formation{
    width: 50%;
    padding-top: 80px;
    float: left;
    
    padding-bottom: 80px;

}

.formation img{
    width: 150px;
    padding-top: 30px;
    display: block;
    margin: auto;
}
.formation h3{
    text-align: center;
    font-size: 1.6em;
}

.experience{
    float: right;
    width: 50%;
    margin: auto;
    padding-top: 80px;
    
    padding-bottom: 80px;
}
.experience img{
    width: 150px;
    padding-top: 30px;
    display: block;
    margin: auto;
}
.experience h3{
    text-align: center;
    font-size: 1.6em;
}

ul,li{
    list-style: none;
    width: 10vw;
    margin: auto;
    padding-left: 0.8vw;
    font-size: 1em;
}
footer{
    width: 900px;
    margin: auto;
    
}

.interests h3{
    text-align: center;
}

footer{
    padding-top: 10px;
    padding-bottom: 20px;
}
h2{
    color: #000;
}
h3{
    color: #333;
}

p{
    color: #3d3d3d;
}

strong{
    color: rgb(63, 7, 7);
}